<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <%- include('./components/navbar') %>
        <%- include('./components/aboutme') %>

            <%- include('./components/intro') %>
                <%- include('./components/contactSmall') %>
                    <%- include('./components/works') %>
                        <%- include('./components/skills') %>
                            <%- include('./components/contactBig') %>
                                <%- include('./components/footer') %>
                                    <%- include('./components/btnUp') %>






                                        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                                        <script src="/script/AOS.js"></script>

                                        <script src="/script/jquery-3.6.0.min.js"></script>
                                        <script src="/script/query.js"></script>

</body>

</html>